<%
    title("Cuidados")
    area("cuidados")
%>
<section class="conteudo clearfix">
  <div class="container clearfix">
    <h1>Cuidados com a saúde ocular<br /><br />ao longo da vida</h1>
    <article>
      <p>Em cada fase da vida , os cuidados com a saúde ocular e o atendimento por um médico oftalmologista são importantes<br />como forma de proteger a visão.</p>
      <section class="conteudo-esquerdo">
        <ul>
          <li>
            <%= image_tag "cuidados/rubeola.jpg", alt: "cuidados", title: "Cuidados Oftalmológicos", width: 189, height:"189" %>
            <p>Rubéola e toxoplasmose podem causar cegueira e problemas neurológicos na criança.</p>
          </li>
          <li>
            <%= image_tag "cuidados/teste-olhinho.jpg", alt: "cuidados", title: "Cuidados Oftalmológicos", width: 189, height:"189" %>
            <p>O teste do olhinho é capaz de detectar, entre outros problemas, catarata congênita, glaucoma congênito, e retinoblastoma.</p>
          </li>
        </ul>
        <ul>
          <li>
            <%= image_tag "cuidados/cinco-anos.jpg", alt: "cuidados", title: "Cuidados Oftalmológicos", width: 189, height:"189" %>
            <p>A visão se desenvolve até os cinco anos de idade. Por isso, é muito importante que problemas de visão sejam tratados o quanto antes.</p>
          </li>
          <li>
            <%= image_tag "cuidados/bebe-lacrimejando.jpg", alt: "cuidados", title: "Cuidados Oftalmológicos", width: 189, height:"189" %>
            <p>O bebê que lacrimejar muito, tiver mancha branca na menina dos olhos, olhos anormalmente grandes, ou ainda que não suporte a claridade, deve ser levado ao oftalmologista.</p>
          </li>
        </ul>
      </section>
      <section class="conteudo-direito">
        <h3>Problemas oftalmológicos<br />na terceira idade</h3>
        <%= image_tag "cuidados/problemas-oftalmologicos.jpg", alt: "cuidados", title: "Cuidados Oftalmológicos", width: 241, height:"159" %>
        <p>As pessoas que enxergam bem, normalmente, só procuram um médico oftalmologista quando a visão começa a falhar.<br />
        Os cuidados com a saúde ocular e o atendimento rotineiro por um médico oftalmologista são formas saudáveis  de proteger a visão em todas as fases da vida, especialmente na terceira idade. De acordo com a Organização Mundial de Saúde (OMS), mais de 82% de todas as pessoas cegas no mundo são maiores de 50 anos.<br />
        Dentre os principais problemas de visão com grande incidência entre pessoas com mais idade, destacam-se a catarata senil, o glaucoma, a retinopatia diabética e a Degeneração Macular Relacionada à Idade.</p>
      </section>

      <ul class="conteudo-baixo">
        <li>
          <%= image_tag "cuidados/inicio-escolar.jpg", alt: "cuidados", title: "Cuidados Oftalmológicos", width: 189, height:"189" %>
          <p>Com o início da vida escolar, também é possível perceber a presença de problemas refrativos que podem prejudicar o aprendizado.</p>
        </li>
        <li>
          <%= image_tag "cuidados/adolescencia.jpg", alt: "cuidados", title: "Cuidados Oftalmológicos", width: 189, height:"189" %>
          <p>Durante a adolescência e a puberdade, com frequência, são diagnosticados os problemas refrativos (miopia, astigmatismo e hipermetropia).</p>
        </li>
        <li>
          <%= image_tag "cuidados/queixas.jpg", alt: "cuidados", title: "Cuidados Oftalmológicos", width: 189, height:"189" %>
          <p>Queixas, como sensação de vista cansada, coceira nos olhos, dificuldade para focalizar imagens e lacrimejamento, são as mais comuns em adultos que procuram o atendimento oftalmológico.</p>
        </li>
        <li>
          <%= image_tag "cuidados/catarata.jpg", alt: "cuidados", title: "Cuidados Oftalmológicos", width: 189, height:"189" %>
          <p>Aproximadamente 85% das cataratas são classificadas como senis, com maior incidência na população acima de 50 anos.</p>
        </li>
      </ul>
      <ul class="conteudo-baixo">
        <li>
          <%= image_tag "cuidados/glaucoma.jpg", alt: "cuidados", title: "Cuidados Oftalmológicos", width: 189, height:"189" %>
          <p>Os sintomas do glaucoma costumam aparecer em fase avançada. Se a doença não for tratada, pode levar a cegueira. Por isso, o exame oftalmológico anual, preventivo, é fundamental para detecção e tratamento precoce.</p>
        </li>
        <li>
          <%= image_tag "cuidados/diabetes.jpg", alt: "cuidados", title: "Cuidados Oftalmológicos", width: 189, height:"189" %>
          <p>As pessoas que têm diabetes apresentam um risco de perder a visão 25 vezes maior do que as demais. Para manter a visão, diabéticos devem passar rotineiramente por uma consulta oftalmológica.</p>
        </li>
        <li>
          <%= image_tag "cuidados/dmri.jpg", alt: "cuidados", title: "Cuidados Oftalmológicos", width: 189, height:"189" %>
          <p>A DMRI causa baixa visão central; dificultando principalmente a leitura. Os danos à visão central são irreversíveis, mas a detecção precoce e os cuidados podem ajudar a controlar alguns dos efeitos da doença.</p>
        </li>
      </ul>
      </article>
    </div>
  </section>
