<%
  title("Truques da visão")
  area("olhar")
%>
<section class="conteudo clearfix">
  <div class="container clearfix">
    <h1>Truques de olhar</h1>
    <div class="truques-container clearfix">
      <ul>
        <li>
          <section>
            <p>Não existem linhas curvas nesta imagem.</p>
            <%= image_tag "truque-visual-1.jpg", title: "Truque-1", alt: "truque-1" %>
          </section>
          <section>
            <p>As linhas vermelhas são paralelas?</p>
            <%= image_tag "truque-visual-2.jpg", title: "Truque-2", alt: "truque-2" %>
          </section>
        </li>
        <li>
          <section>
            <p>Movimente os olhos.</p>
            <%= image_tag "truque-visual-3.jpg", title: "Truque-3", alt: "truque-3" %>
          </section>
          <section>
            <p>Fixe os olhos no ponto central e então avance e retroceda sua cabeça.</p>
            <%= image_tag "truque-visual-4.jpg", title: "Truque-4", alt: "truque-4" %>
          </section>
        </li>
        <li>
          <section>
            <p>É uma espiral?</p>
            <%= image_tag "truque-visual-5.jpg", title: "Truque-5", alt: "truque-5" %>
          </section>
          <section>
            <p>Os circulos vermelhos tem o mesmo diâmetro?</p>
            <%= image_tag "truque-visual-6.jpg", title: "Truque-6", alt: "truque-6" %>
          </section>
        </li>
        <li>
          <section>
            <p>Os triângulos brancos realmente estão desenhados?</p>
            <%= image_tag "truque-visual-7.jpg", title: "Truque-7", alt: "truque-7" %>
          </section>
          <section>
            <p>Existem uma esfera no centro da imagem?</p>
            <%= image_tag "truque-visual-8.jpg", title: "Truque-8", alt: "truque-8" %>
          </section>
        </li>
        <li class="ultimo">
          <section>
            <p>Os quadrados são quadrados?</p>
            <%= image_tag "truque-visual-9.jpg", title: "Truque-9", alt: "truque-9" %>
          </section>
          <section>
            <p>É um cubo ou não?</p>
            <%= image_tag "truque-visual-10.jpg", title: "Truque-10", alt: "truque-10" %>
          </section>
        </li>
      </ul>
      <p><cite>Referência: www.buratto.org/otica, www.ilusaodeotica.com</cite></p>
    </div>
  </div>
</section>
